/*body {
    font-family: var(--font-DM-sans) !important;
    font-weight: 700;
}*/

/*CSS personalizado do footer*/
.socials-paragraph {
    color: #ffffff;
    font-size: 14px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;
}

.socials a {
    text-decoration: none;
    color: #ffffff;
}

.socials a i {
    font-size: 1.5rem;
    transition: color 0.4s ease;
}

.socials a:hover i {
    color: aqua;
}

.cardBlue {
    background-color: rgb(79, 207, 203) !important;
}

.cardGreen {
    background-color: rgb(45, 46, 46) !important;
}

.cardCinza {
    background-color: #edf1ec !important;
}

.alinhaCards {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    height: 100% !important;
}
.placeholder-branco::-webkit-input-placeholder {
    color: #ffffff !important;
    opacity: 0.6 !important;
    font-size: medium !important;
}
.placeholder-branco:-ms-input-placeholder {
    color: #ffffff !important;
    opacity: 0.6 !important;
    font-size: medium !important;
}
.placeholder-branco:-moz-placeholder {
    /* Firefox 18- */
    color: white;
    opacity: 0.6 !important;
    font-size: medium !important;
}

.placeholder-branco::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    opacity: 0.6 !important;
    font-size: medium !important;
}
.placeholder-branco:focus {
    box-shadow: none !important;
}
.icone-centralizado {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: -moz-box !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.icone-centralizado i {
    color: #fff;

    font-size: 1.5em !important;
}

.fontsize {
    font-size: 9pt !important;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
