/*CSS personalizado do footer*/

.socials-paragraph {
    color: #ffffff;
    font-size: 14px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0.5rem 0;
    gap: 25px;
}

.socials a {
    text-decoration: none;
    color: #ffffff;
}

.socials a i {
    font-size: 1.6rem;
    transition: color 0.4s ease;
}

.socials a:hover i {
    color: aqua;
}


.cardBlue {
    background-color: rgb(79, 207, 203) !important;
}

.cardGreen {
    background-color: rgb(45, 46, 46) !important;
}

.cardCinza {
    background-color: #edf1ec !important;
}

.alinhaCards {

    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    height: 100%  !important;

}